extends ./layout.jade

block title
    title #{game.title}

block content
    .something(ng-controller='gameController')

        if !user
            - user = { _id : 0 }

        //if #{img}
        //    img(src='data:image/jpeg;base64,#{img}')
        .game(ng-init='init = { userId : "#{user._id}", gameId : "#{game._id}" }')
            p #{game.title}
            p #{game.platform}
            p #{game.series}
            p #{released}
            p #{game.developer}
            p #{game.publisher}
            p #{game.metadata.userRating}
            p #{game.metadata.criticRating}

        .rate(ng-if='"#{user._id}".localeCompare("0")')
            button(ng-click="rateGame()" ng-show='rateButton.visible') Rate
            input(type='text', ng-hide='rateButton.visible', ng-model='$parent.rating', ng-model-options="{ debounce: 1000 }")
            span rating

        .hours-played(ng-if='"#{user._id}".localeCompare("0")')
            input(type='text', ng-model='$parent.hoursPlayed', ng-model-options="{ debounce: 1000 }", placeholder="hours played")
            span hours played

        .add-to-list-btn(ng-if='"#{user._id}".localeCompare("0")')
            button(ng-click='addToList("#{game._id}", "#{game.title}")', ng-disabled="gameState.added") {{gameState.addText}}

        .complete-btn(ng-if='"#{user._id}".localeCompare("0")')
            button(ng-click='toggleCompleted("#{game._id}", gameState.completed)', ng-class="{ selected : gameState.completed }") {{gameState.completeText}}


        .complete-btn(ng-if='"#{user._id}".localeCompare("0")')
            button(ng-click='toggleNowPlaying("#{game._id}", gameState.nowPlaying)', ng-class="{ selected : gameState.playingNow }") {{gameState.playingNowText}}


        p gid: {{init.gameId}}, uid: {{init.userId}}
        p {{userData}}